<template>
  <div class="projects">
    <div role="tablist bg-dark">
    <h1 class="subheading grey--text">C Programming examples with Output</h1>
     <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab" >
        <b-button block href="" v-b-toggle.accordion-1 variant="info" >SIMPLE C PROGRAMS</b-button>
      </b-card-header>
      <b-collapse id="accordion-1" accordion="my-accordion" role="tabpanel">

        <b-list-group>  
        <b-button  v-b-toggle.according-1  class="m-1" variant="dark" >1. Hello World Program in C </b-button>
        <b-collapse id="according-1"   >
          <b-card-body>
            <b-card-text><h3>Hello World Program in C</h3></b-card-text>
           <b-card-text>{{ text1 }}</b-card-text>
            <b-img center src="/1a.png" width="826px" height="367px" alt="center"  ></b-img>
             <b-card-text>1. <b>#include stdio.h</b>{{ text111 }}</b-card-text>
             <b-card-text>2. <b>int main()</b>{{ text112 }}</b-card-text>
             <b-card-text>3. <b>printf("Hello World");</b> – This function displays the content within double quotes as it is on the screen.</b-card-text>
             <b-card-text>4. <b>return 0;</b> – As mentioned above, the value 0 means successful execution of main() function.</b-card-text>
             <b-card-text><h5>Example 2: Hello World Program using Functions</h5></b-card-text>
             <b-card-text>{{ text113 }}<b>User Defined Function in C.</b></b-card-text>
            <b-img center src="/1b.png" width="821px" height="235px" alt="center"  ></b-img>
        </b-card-body>
      </b-collapse>

        <b-button v-b-toggle.according-1a  class="m-1" variant="dark">2. Reverse an input number using recursion</b-button>
          <b-collapse id="according-1a" >
             <b-card-body>
               <b-card-text><h3>C Program to reverse a given number using Recursive function</h3></b-card-text>
               <b-card-text>In this tutorial, we will learn following two methods of reversing a number.</b-card-text>
               <b-card-text>1) Using Recursion</b-card-text>
               <b-card-text>2) Using While loop</b-card-text>
               <b-card-text><h5>Reverse a given number using Recursion:</h5></b-card-text>
               <b-card-text>In this program, we are calling a user defined function “reverse_function”, the function is calling itself recursively.</b-card-text>
              <b-img center src="/1c.png" width="746px" height="663px" alt="center"  ></b-img>
              <b-card-text><h5>Reversing a number using While loop</h5></b-card-text>
              <b-card-text>In the above program we learnt how to reverse a number using recursive function. Here we would learn how to do it using while loop.</b-card-text>
              <b-img center src="/1d.png" width="747px" height="529px" alt="center"  ></b-img>
             </b-card-body>
      </b-collapse>

        <b-button v-b-toggle.according-1b  class="m-1" variant="dark">3. C Program to check whether the given integer is positive or negative</b-button>
        
      <b-collapse id="according-1b" >
             <b-card-body>
               <b-card-text><h3>C Program to check whether the given integer is positive or negative</h3></b-card-text>
               <b-card-text>{{ text2 }}</b-card-text>
               <b-img center src="/1e.png" width="747px" height="764px" alt="center"  ></b-img> 
               <b-img center src="/1f.png" width="748px" height="84px" alt="center"  ></b-img>          
              </b-card-body>
      </b-collapse>

          <b-button v-b-toggle.according-1c  class="m-1" variant="dark">4. C Program to find greatest of three numbers</b-button>
        
      <b-collapse id="according-1c" >
             <b-card-body>
               <b-card-text><h3>C Program to find greatest of three numbers</h3></b-card-text>
               <b-card-text>{{ text3 }}</b-card-text>
               <b-card-text><h5>Program to find largest of three input numbers</h5></b-card-text>
               <b-card-text>{{ text114 }}</b-card-text>
               <b-img center src="/1g.png" width="747px" height="533px" alt="center"  ></b-img>    
              </b-card-body>
      </b-collapse>

       <b-button v-b-toggle.according-1d  class="m-1" variant="dark">5. C Program to print Fibonacci series in a given range</b-button>
        
      <b-collapse id="according-1d" >
             <b-card-body>
               <b-card-text><h3>C Program to display Fibonacci series</h3></b-card-text>
                <b-card-text>In this tutorial, we will learn two following ways to display Fibonacci series in C programming language:</b-card-text>
                <b-card-text>1) Using For loop</b-card-text>
                <b-card-text>2) Using recursion</b-card-text>
               <b-card-text><h5>Fibonacci Series in C using loop</h5></b-card-text>
               <b-card-text>A simple for loop to display the series. Program prompts user for the number of terms and displays the series having the same number of terms.</b-card-text>
               <b-img center src="/1h.png" width="746px" height="848px" alt="center"  ></b-img>
               <b-card-text><h5>Program to display Fibonacci series using recursion</h5></b-card-text>
               <b-card-text>Here we are using a user defined function fibonacci_series() that calls itself recursively, in order to display series for the entered number of terms.</b-card-text>
               <b-img center src="/1i.png" width="746px" height="820px" alt="center"  ></b-img>    
              </b-card-body>
      </b-collapse>

       <b-button v-b-toggle.according-1e  class="m-1" variant="dark">6. C Program to find factorial of a given number</b-button>
        
      <b-collapse id="according-1e" >
             <b-card-body>
               <b-card-text><h3>C Program to find factorial of number using Recursion</h3></b-card-text>
               <b-card-text>{{ text4 }}</b-card-text>
               <b-img center src="/1j.png" width="748px" height="797px" alt="center"  ></b-img>
                 
              </b-card-body>
      </b-collapse>

       <b-button v-b-toggle.according-1f  class="m-1" variant="dark">7. Find Prime numbers in a given range</b-button>
        
      <b-collapse id="according-1f" >
             <b-card-body>
               <b-card-text><h3>C Program to find prime numbers in a given range</h3></b-card-text>
               <b-card-text>{{ text5 }}</b-card-text>
               <b-img center src="/1k.png" width="745px" height="736px" alt="center"  ></b-img> 
               <b-img center src="/1kj.png" width="746px" height="369px" alt="center"  ></b-img>   
              </b-card-body>
      </b-collapse>

       <b-button v-b-toggle.according-1g  class="m-1" variant="dark">8. C Program to check if given number is Armstrong or not</b-button>
        
      <b-collapse id="according-1g" >
             <b-card-body>
               <b-card-text><h3>C Program to check Armstrong number</h3></b-card-text>
               <b-card-text>{{ text6 }}</b-card-text>
               <b-img center src="/1m.png" width="748px" height="871px" alt="center"  ></b-img> 
               <b-img center src="/1mk.png" width="748px" height="172px" alt="center"  ></b-img>    
              </b-card-body>
      </b-collapse>

       <b-button v-b-toggle.according-1h  class="m-1" variant="dark">9. C Program to check if given number is palindrome or not</b-button>
        
      <b-collapse id="according-1h" >
             <b-card-body>
               <b-card-text><h3>C Program to check if a number is palindrome or not</h3></b-card-text>
               <b-card-text>{{ text7 }}</b-card-text>
               <b-img center src="/1n.png" width="748px" height="738px" alt="center"  ></b-img>
               <b-img center src="/1nm.png" width="747px" height="953px" alt="center"  ></b-img>
               <b-img center src="/1nmo.png" width="745px" height="321px" alt="center"  ></b-img>    
              </b-card-body>
      </b-collapse>

       <b-button v-b-toggle.according-1i  class="m-1" variant="dark">10. C program to display palindrome numbers in a given range</b-button>
        
      <b-collapse id="according-1i" >
             <b-card-body>
               <b-card-text><h3>C Program to find Palindrome numbers in a given range</h3></b-card-text>
               <b-card-text>{{ text8 }}</b-card-text>
               <b-img center src="/1o.png" width="749px" height="864px" alt="center"  ></b-img>
                   
              </b-card-body>
      </b-collapse>

       <b-button v-b-toggle.according-1j  class="m-1" variant="dark">11. C Program to check if number is odd or even</b-button>
        
      <b-collapse id="according-1j" >
             <b-card-body>
               <b-card-text><h3>C Program to check if number is even or odd</h3></b-card-text>
               <b-card-text>{{ text9 }}</b-card-text>
               <b-img center src="/1p.png" width="747px" height="785px" alt="center"  ></b-img>
               <b-img center src="/1po.png" width="747px" height="752px" alt="center"  ></b-img>    
              </b-card-body>
      </b-collapse>

       <b-button v-b-toggle.according-1k  class="m-1" variant="dark">12. C Program to find out the ASCII value of a character</b-button>
        
      <b-collapse id="according-1k" >
             <b-card-body>
               <b-card-text><h3>C Program to Find ASCII value of a Character</h3></b-card-text>              
               <b-card-text>{{ text10 }}</b-card-text>
               <b-card-text><h5>Example 1: Program to display ASCII value of a character entered by user</h5></b-card-text>
               <b-card-text>This program takes the character entered by user and displays the ASCII value of it.</b-card-text>
               <b-img center src="/1q.png" width="745px" height="535px" alt="center"  ></b-img>    
              </b-card-body>
      </b-collapse>

       <b-button v-b-toggle.according-1l  class="m-1" variant="dark">13. C Program to find the size of int, float, double and char</b-button>
        
      <b-collapse id="according-1l" >
             <b-card-body>
               <b-card-text><h3>C Program to find the Size of int, float, double and char</h3></b-card-text>
               <b-card-text>This program finds the size of data types such as char, int, float, double.</b-card-text>
               <b-card-text><h5>Example: Program to find the size of data types in C</h5></b-card-text>
               <b-card-text>{{text115}}</b-card-text>
               <b-img center src="/1r.png" width="746px" height="410px" alt="center"  ></b-img>    
              </b-card-body>
      </b-collapse>

       <b-button v-b-toggle.according-1m  class="m-1" variant="dark">14. C Program to check whether an alphabet is vowel or consonant</b-button>
        
      <b-collapse id="according-1m" >
             <b-card-body>
               <b-card-text><h3>C Program to Check whether an Alphabet is Vowel or Consonant</h3></b-card-text>
               <b-card-text>This program checks whether the input character is vowel or consonant.</b-card-text>
               <b-card-text><h5>Example: Program to check Vowel or Consonant</h5></b-card-text>
               <b-card-text>{{text116}}</b-card-text>
               <b-card-text>1. <b>C Programming if statement</b></b-card-text>
             <b-card-text>2. <b>C Programming if..else statement</b></b-card-text>
               <b-img center src="/1s.png" width="747px" height="607px" alt="center"  ></b-img>    
              </b-card-body>
      </b-collapse>

       <b-button v-b-toggle.according-1n  class="m-1" variant="dark">15. C Program to check leap year</b-button>
        
      <b-collapse id="according-1n" >
             <b-card-body>
               <b-card-text><h3>C Program to check Leap Year</h3></b-card-text>
               <b-card-text>This program checks whether the input year is leap year or not.</b-card-text>
                <b-card-text><h5>Example: Program to check Leap Year</h5></b-card-text>
               <b-card-text>You can check whether a year is leap or not by using this mathematical logic:</b-card-text>
               <b-card-text><b>Leap Year:</b></b-card-text>
               <b-card-text>If a year is divisible by 4, 100 and 400 then it is a leap year.</b-card-text>
               <b-card-text>If a year is divisible by 4 but not divisible by 100 then it is a leap year</b-card-text>
             <b-card-text><b>Not a Leap Year:</b></b-card-text>
             <b-card-text>If a year is not divisible by 4 then it is not a leap year</b-card-text>
             <b-card-text>If a year is divisible by 4 but not divisible by 100 then it is a leap year</b-card-text>
             <b-card-text>Lets write this logic in a C Program. To understand this program you should have the knowledge of following <b>C Programming topic:</b></b-card-text>
                    <b-card-text><b>* C Programming If..else, Nested if..else</b></b-card-text>
               <b-img center src="/1t.png" width="745px" height="713px" alt="center"  ></b-img>   
              </b-card-body>
      </b-collapse>

       <b-button v-b-toggle.according-1o  class="m-1" variant="dark">16. C Program to find sum of first n natural numbers</b-button>
        
      <b-collapse id="according-1o" >
             <b-card-body>
               <b-card-text><h3>C Program to find the Sum of First n Natural numbers</h3></b-card-text>
               <b-card-text>{{ text11 }}</b-card-text>
               <b-card-text>1. <b>C Programming for loop</b></b-card-text>
               <b-card-text>2. <b>C Programming while loop</b></b-card-text>
               <b-card-text><h5>Example 1: Program to find sum of natural numbers using for loop</h5></b-card-text>
               <b-card-text>The user enters the value of n and the program calculate the sum of first n natural numbers using for loop.</b-card-text>
               <b-img center src="/1u.png" width="747px" height="539px" alt="center"  ></b-img>
               <b-img center src="/1ut.png" width="747px" height="589px" alt="center"  ></b-img>
               <b-img center src="/1utq.png" width="748px" height="74px" alt="center"  ></b-img>    
              </b-card-body>
      </b-collapse>

</b-list-group>
        </b-collapse>
        </b-card>
        

    <!--CHAPTER2-->
    <b-card no-body  class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-2 variant="info">STRING PROGRAMS</b-button>
      </b-card-header>
      <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">

        <b-list-group>
        <b-button v-b-toggle.according-2  class="m-1" variant="dark">1. Program to convert string from upper case to lower case</b-button>
        <b-collapse id="according-2" >
           <b-card-body>
             <b-card-text><h3>C Program to convert uppercase string to lowercase string</h3></b-card-text>
           <b-card-text>{{ text1a }}</b-card-text>
           <b-img center src="/2a.png" width="748px" height="953px" alt="center"  ></b-img>                   
        </b-card-body>
      </b-collapse>

        <b-button v-b-toggle.according-2a  class="m-1" variant="dark">2. Program to convert string from lower case to upper case</b-button>
          <b-collapse id="according-2a" >
             <b-card-body>
               <b-card-text><h3>C Program to convert lowercase string to uppercase string</h3></b-card-text>
           <b-card-text>{{ text1b }}</b-card-text>
             <b-img center src="/2b.png" width="746px" height="958px" alt="center"  ></b-img>    
           </b-card-body>
               
      </b-collapse>

        <b-button v-b-toggle.according-2b  class="m-1" variant="dark">3. Sort a set of strings in ascending alphabetical order</b-button>
        

      <b-collapse id="according-2b" >
             <b-card-body>
               <b-card-text><h3>C Program to Sort set of strings in alphabetical order</h3></b-card-text>
           <b-card-text>{{ text1c }}</b-card-text>
           <b-img center src="/2c.png" width="754px" height="649px" alt="center"  ></b-img> 
           <b-img center src="/2cb.png" width="748px" height="494px" alt="center"  ></b-img>              
                </b-card-body>
      </b-collapse>

       <b-button v-b-toggle.according-2c  class="m-1" variant="dark">4. Find length of a string without using strlen()</b-button>
        
      <b-collapse id="according-2c" >
             <b-card-body>
               <b-card-text><h3>C program to find the length of a String without using function strlen()</h3></b-card-text>
           <b-card-text>{{ text1d }}</b-card-text>
            <b-img center src="/2d.png" width="746px" height="889px" alt="center"  ></b-img>               
                </b-card-body>
      </b-collapse>

       <b-button v-b-toggle.according-2d  class="m-1" variant="dark">5. String concatenation without using strcat</b-button>
        
      <b-collapse id="according-2d" >
             <b-card-body>
            <b-card-text><h3>C Program to concatenate two strings without using strcat</h3></b-card-text>
           <b-card-text>{{ text1e }}</b-card-text>
            <b-img center src="/2e.png" width="755px" height="690px" alt="center"  ></b-img> 
            <b-img center src="/2ed.png" width="750px" height="424px" alt="center"  ></b-img>              
                </b-card-body>
      </b-collapse>

       <b-button v-b-toggle.according-2e  class="m-1" variant="dark">6. Reverse a String using recursion</b-button>
        
      <b-collapse id="according-2e" >
             <b-card-body>
               <b-card-text><h3>C program to Reverse a String using recursion</h3></b-card-text>
           <b-card-text>{{ text1f }}</b-card-text>
                <b-img center src="/2f.png" width="746px" height="789px" alt="center"  ></b-img>           
                </b-card-body>
      </b-collapse>


      </b-list-group>
        </b-collapse>
        </b-card>

  <!--CHAPTER 3-->
    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-3 variant="info">ARRAY PROGRAMS</b-button>
      </b-card-header>
      <b-collapse id="accordion-3" accordion="my-accordion" role="tabpanel">

        <b-list-group>
        <b-button v-b-toggle.according-3  class="m-1" variant="dark">1. Program to sort array in ascending order </b-button>
        <b-collapse id="according-3" >
          <b-card-body>
            <b-card-text><h3>C Program to arrange numbers in ascending order</h3></b-card-text>
            <b-card-text>{{ text3a }}</b-card-text>
           <b-img center src="/a3.png" width="748px" height="827px" alt="center"  ></b-img>
           <b-img center src="/b3.png" width="748px" height="379px" alt="center"  ></b-img>  
        </b-card-body>
      </b-collapse>

        <b-button v-b-toggle.according-3b  class="m-1" variant="dark">2. Find largest element of given array </b-button>
          <b-collapse id="according-3b" >
         
             <b-card-body>
                <b-card-text><h3>C Program to find largest element of an Array</h3></b-card-text>
               <b-card-text>{{ text3b }}</b-card-text>
               <b-img center src="/c3.png" width="747px" height="770px" alt="center"  ></b-img> 
                       
              </b-card-body>
      </b-collapse>

              <b-button v-b-toggle.according-3c  class="m-1" variant="dark">3. C program to find sum of array elements </b-button>
        <b-collapse id="according-3c" >
          <b-card-body>
            <b-card-text><h3>C Program to find sum of array elements using pointers, recursion & functions</h3></b-card-text>
            <b-card-text>In this tutorial, we will learn following two ways to find out the sum of array elements:</b-card-text>
            <b-card-text>1) Using Recursion</b-card-text>
            <b-card-text>2) Using Pointers</b-card-text>
            <b-card-text><center><h5>Method 1: Sum of array elements using Recursion: Function calling itself</h5></center></b-card-text>
            <b-card-text>{{ text3c }}</b-card-text>
           <b-img center src="/d3.png" width="746px" height="504px" alt="center"  ></b-img>
           <b-card-text><center><h5>Method 2: Sum of array elements using pointers</h5></center></b-card-text> 
           <b-card-text>Here we are setting up the pointer to the base address of array and then we are incrementing pointer and using * 
                        operator to get & sum-up the values of all the array elements.</b-card-text> 
            <b-img center src="/de3.png" width="744px" height="648px" alt="center"  ></b-img>

        </b-card-body>
      </b-collapse>

            <b-button v-b-toggle.according-3d  class="m-1" variant="dark">4. C Program to find number of elements in an array </b-button>
        <b-collapse id="according-3d" >
          <b-card-body>
            <b-card-text><h3>C Program to Find the Number of Elements in an Array</h3></b-card-text>
            <b-card-text>Here we will write a C program to find the number of elements in a given array.</b-card-text>
            <b-card-text><center><h5>Method 1: Sum of array elements using Recursion: Function calling itself</h5></center></b-card-text>
            <b-card-text>{{ text3d }}</b-card-text>
           <b-img center src="/e3.png" width="747px" height="451px" alt="center"  ></b-img>  
        </b-card-body>
      </b-collapse>

    </b-list-group>
    </b-collapse>
    </b-card>

<!--CHPATER 4-->
      <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-4 variant="info">SORTING PROGRAMS</b-button>
      </b-card-header>
      <b-collapse id="accordion-4" accordion="my-accordion" role="tabpanel">
        
         <b-list-group>
        <b-button v-b-toggle.according-4a  class="m-1" variant="dark">1. Bubble sort program in C</b-button>
        <b-collapse id="according-4a" >
          <b-card-body>
            <b-card-text><h3>C Program for bubble sorting</h3></b-card-text>
            <b-card-text>{{ text4a }}</b-card-text>
            <b-card-text><center><h5>Implementing bubble sort algorithm in a C program</h5></center></b-card-text>
           <b-img center src="/f4.png" width="748px" height="776px" alt="center"  ></b-img>
           <b-img center src="/fe4.png" width="744px" height="333px" alt="center"  ></b-img>  
        </b-card-body>
      </b-collapse>

        <b-button v-b-toggle.according-4b  class="m-1" variant="dark">2. Insertion sort program in C </b-button>
          <b-collapse id="according-4b" >
         
             <b-card-body>
               <b-card-text><h3>Insertion Sort Program in C</h3></b-card-text>
               <b-card-text>{{ text4b }}</b-card-text>
               <b-card-text>Input elements: 89  17  8  12  0</b-card-text>
               <b-card-text>Step 1: 89  17  8  12  0 (the bold elements are sorted list and non-bold unsorted list)</b-card-text>
               <b-card-text>Step 2: 17  89  8  12  0 (each element will be removed from unsorted list and placed at the right position in the sorted list)</b-card-text>
               <b-card-text>Step 3: 8  17  89  12  0</b-card-text>
               <b-card-text>Step 4: 8  12  17  89  0</b-card-text>
               <b-card-text>Step 5: 0  8  12  17  89</b-card-text>
               <b-card-text><center><h5>C Program – Insertion Sort implementation</h5></center></b-card-text>
               <b-img center src="/a4.png" width="745px" height="790px" alt="center"  ></b-img>
               <b-img center src="/ab4.png" width="747px" height="331px" alt="center"  ></b-img>  
                      
              </b-card-body>
      </b-collapse>

            <b-button v-b-toggle.according-4c  class="m-1" variant="dark">3. Selection sort program in C </b-button>
          <b-collapse id="according-4c" >
         
             <b-card-body>
               <b-card-text><h3>Selection Sort Program in C</h3></b-card-text>
               <b-card-text>{{ text4c }}</b-card-text>
               <b-card-text>Before going through the program, lets see the steps of selection sort with the help of an example:</b-card-text>
               <b-card-text>Entered elements: 22 0 -90 89 17</b-card-text>
               <b-card-text>Step 1: -90 0 22 89 17 (22 and -90 exchanged position)</b-card-text>
               <b-card-text>Step 2: -90 0 22 89 17 (0 is at right place, no exchange needed)</b-card-text>
               <b-card-text>Step 3: -90 0 17 89 22 (22 and 17 exchanged position)</b-card-text>
               <b-card-text>Step 4: -90 0 17 22 89 (89 and 22 exchanged position)</b-card-text>
               <b-card-text><center><h5>C Program – Selection sort</h5></center></b-card-text>

               <b-img center src="/c4.png" width="749px" height="743px" alt="center"  ></b-img>
               <b-img center src="/cb4.png" width="748px" height="372px" alt="center"  ></b-img>  
                      
              </b-card-body>
      </b-collapse>

      <b-button v-b-toggle.according-4d  class="m-1" variant="dark">4. Quicksort program in C </b-button>
          <b-collapse id="according-4d" >
         
             <b-card-body>
               <b-card-text><h3>Quicksort program in C</h3></b-card-text>
               <b-card-text>{{ text4d }}</b-card-text>
               <b-card-text><center><h5>C Program – Quicksort algorithm implementation</h5></center></b-card-text>
               <b-img center src="/d4.png" width="747px" height="637px" alt="center"  ></b-img> 
               <b-img center src="/dc4.png" width="749px" height="637px" alt="center"  ></b-img>
                      
              </b-card-body>
      </b-collapse>

    </b-list-group>
    </b-collapse>
    </b-card>

<!--CHPATER 5-->
      <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-5 variant="info">C POINGTER PROGRAMS</b-button>
      </b-card-header>
      <b-collapse id="accordion-5" accordion="my-accordion" role="tabpanel">
       
       <b-list-group>
        <b-button v-b-toggle.according-5a  class="m-1" variant="dark">1. C program to find the largest of three numbers using Pointers  </b-button>
        <b-collapse id="according-5a" >
          <b-card-body>
            <b-card-text><h3>C Program to Find the Largest of three numbers using Pointers</h3></b-card-text>
            <b-card-text>In this tutorial, we will write a C program to find the largest of three input numbers using pointers.</b-card-text>  
            <b-card-text><center><h5>Program to find largest number using pointers</h5></center></b-card-text>
            <b-card-text>{{ text5a }}</b-card-text> 
            <b-img center src="/a5.png" width="748px" height="912px" alt="center"  ></b-img>
            <b-img center src="/ap5.png" width="745px" height="266px" alt="center"  ></b-img>
        </b-card-body>
      </b-collapse>

        <b-button v-b-toggle.according-5b  class="m-1" variant="dark">2. C program to count vowels and consonants in a String using pointer </b-button>
          <b-collapse id="according-5b" >
         
             <b-card-body>
               <b-card-text><h3>C Program to Count Vowels and Consonants in a String using Pointer</h3></b-card-text>
               <b-card-text>In this tutorial, we will write a C program to count vowels and consonants in a given String using Pointer.</b-card-text> 
               <b-card-text>To understand this program you should know the basics of Arrays and pointers in C.</b-card-text>
               <b-card-text><center><h5>Program to count Vowels and Consonants in String using Pointer</h5></center></b-card-text>
               <b-card-text>{{ text5b }}</b-card-text>
               <b-img center src="/b5.png" width="748px" height="910px" alt="center"  ></b-img>
                
                      
              </b-card-body>
      </b-collapse>

          <b-button v-b-toggle.according-5c  class="m-1" variant="dark">3. C program to print String using Pointer </b-button>
          <b-collapse id="according-5c" >
         
             <b-card-body>
               <b-card-text><h3>C Program to Print String using Pointer</h3></b-card-text>
               <b-card-text>In this tutorial, we will write a C program to print a String character by character using a pointer variable. 
                 To understand this program you should have basic knowledge of the following topics:</b-card-text> 
               <b-card-text>1. C Pointers</b-card-text>
               <b-card-text>2. C Array</b-card-text>
               <b-card-text><center><h5>Program to print a String using Pointer</h5></center></b-card-text>
               <b-card-text>{{ text5c }}</b-card-text>
               <b-img center src="/c5.png" width="748px" height="791px" alt="center"  ></b-img> 
                      
              </b-card-body>
      </b-collapse>

          <b-button v-b-toggle.according-5d  class="m-1" variant="dark">4. C program to swap two numbers using pointers </b-button>
          <b-collapse id="according-5d" >
         
             <b-card-body>
               <b-card-text><h3>C Program to Swap two numbers using Pointers</h3></b-card-text>
               <b-card-text>In this tutorial we will write a C program to swap two numbers using Pointers. We have already covered how to swap two numbers without using pointers.</b-card-text> 
               <b-card-text><center><h5>C Example to swap two numbers using pointers</h5></center></b-card-text>             
                <b-img center src="/d5.png" width="748px" height="958px" alt="center"  ></b-img>
                 
              </b-card-body>
      </b-collapse>

            <b-button v-b-toggle.according-5e  class="m-1" variant="dark">5. C program to create initialize and access a pointer variable </b-button>
          <b-collapse id="according-5e" >
         
             <b-card-body>
               <b-card-text><h3>C program to create, initialize and access a pointer variable</h3></b-card-text>
               <b-card-text>In this tutorial, we will write a C program to create, initialize and access a pointer variable. To learn the basics of pointer refer my tutorial: C Pointers</b-card-text> 
               <b-card-text><center><h5>Example: Program to create, access and initialize a Pointer</h5></center></b-card-text>
               <b-card-text>{{ text5d }}</b-card-text>
               <b-img center src="/e5.png" width="746px" height="965px" alt="center"  ></b-img> 
               

              </b-card-body>
      </b-collapse>

    </b-list-group>
    </b-collapse>
    </b-card>

<!--CHPATER 6-->
    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-6 variant="info">PROGRAMS ON CALCULATION</b-button>
      </b-card-header>
      <b-collapse id="accordion-6" accordion="my-accordion" role="tabpanel">
       
       <b-list-group>
        <b-button v-b-toggle.according-6a  class="m-1" variant="dark">1. Find the value of nPr for given value of n & r </b-button>
        <b-collapse id="according-6a" >

          <b-card-body>
              <b-card-text><h3>C program to calculate and print the value of nPr</h3></b-card-text>
            <b-card-text>{{ text6a }}</b-card-text> 
            <b-img center src="/a6.png" width="745px" height="943px" alt="center"  ></b-img> 
        </b-card-body>
      </b-collapse>

        <b-button v-b-toggle.according-6b  class="m-1" variant="dark">2. Find the value of nCr for given value of n & r </b-button>
          <b-collapse id="according-6b" >
         
             <b-card-body>
               <b-card-text><h3>C program to calculate and print the value of nCr</h3></b-card-text>
               <b-card-text>In the following program we are calculating and displaying the value of nCr.<b> nCr can also be represented as C(n,r)</b></b-card-text> 
               <b-card-text>{{ text6b }}</b-card-text> 
               <b-card-text>The same calculation we have done in the following program.</b-card-text> 
               <b-img center src="/b6.png" width="748px" height="975px" alt="center"  ></b-img>                       
              </b-card-body>
      </b-collapse>

          <b-button v-b-toggle.according-6c  class="m-1" variant="dark">3. C Program to multiply two floating numbers </b-button>
          <b-collapse id="according-6c" >
         
             <b-card-body>
              <b-card-text><h3>C Program to Multiply two Floating Point Numbers</h3></b-card-text>
               <b-card-text>Program to multiply two floating point numbers and display the product as output.</b-card-text> 
               <b-card-text><center><h5>Example 1: Program to display the product of two float numbers</h5></center></b-card-text>
               <b-card-text>{{ text6c }}</b-card-text> 
               <b-img center src="/d6.png" width="746x" height="470px" alt="center"  ></b-img> 
               <b-card-text><center><h5>Example 2: Program to multiply two numbers using function</h5></center></b-card-text>
               <b-card-text>{{ text6d }}</b-card-text>
               <b-card-text>1. C – Functions</b-card-text> 
               <b-card-text>2. C – Function call by Value</b-card-text>  
               <b-img center src="/de6.png" width="747px" height="655px" alt="center"  ></b-img>
                      
              </b-card-body>
      </b-collapse>

      
        <b-button v-b-toggle.according-6d  class="m-1" variant="dark">4. C Program to find out Quotient and Remainder</b-button>
        <b-collapse id="according-6d" >

          <b-card-body>
              <b-card-text><h3>C Program to Find Quotient and Remainder</h3></b-card-text>
               <b-card-text>Program to find <b>quotient</b> and <b>remainder</b> based on the dividend & divisor values entered by user.</b-card-text> 
               <b-card-text><center><h5>Example 1: Program to find Quotient and Remainder</h5></center></b-card-text>
            <b-card-text>In this program, user is asked to enter the dividend and divisor and the program then finds the quotient and remainder based on the input values.</b-card-text> 
            <b-img center src="/e6.png" width="746px" height="729px" alt="center"  ></b-img> 
            <b-card-text><center><h5>Example 2: Program to find Quotient and Remainder using function</h5></center></b-card-text>
            <b-card-text>{{ text6e }}</b-card-text>
            <b-card-text>1. <b>Functions in C</b></b-card-text> 
            <b-card-text>2. <b>Function call by value in C</b></b-card-text> 
            <b-img center src="/ed6.png" width="747px" height="591px" alt="center"  ></b-img> 

        </b-card-body>
      </b-collapse>

      
        <b-button v-b-toggle.according-6e  class="m-1" variant="dark">5. C Program to find average of two numbers </b-button>
        <b-collapse id="according-6e" >

          <b-card-body>
              <b-card-text><h3>C Program to find the Average of two numbers</h3></b-card-text>
               <b-card-text>Here we will write two C programs to find the average of two numbers(entered by user).</b-card-text> 
               <b-card-text><center><h5>Example 1: Program to find the average of two numbers</h5></center></b-card-text>
            <b-img center src="/f6.png" width="745px" height="536px" alt="center"  ></b-img>
            <b-card-text><center><h5>Example 2: Program to find the average using function</h5></center></b-card-text>
            <b-card-text>In this program, we have created a user defined function average() for the calculation of average. 
              The numbers entered by user are passed to this function during function call.</b-card-text>  
              <b-img center src="/fe6.png" width="747px" height="514px" alt="center"  ></b-img>
              <b-img center src="/ff6.png" width="747px" height="86px" alt="center"  ></b-img>
        </b-card-body>
      </b-collapse>

    </b-list-group>
    </b-collapse>
    </b-card>

<!--CHPATER 7-->
    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-7 variant="info">NUMBERS SYSTEM CONVERSION PROGRAMS</b-button>
      </b-card-header>
      <b-collapse id="accordion-7" accordion="my-accordion" role="tabpanel">

        <b-list-group>
          <b-button v-b-toggle.according-7a  class="m-1" variant="dark">1. Binary to decimal conversion </b-button>
        <b-collapse id="according-7a" >

         <b-card-body>
              <b-card-text><h3>C Program to Convert Binary Number to Decimal Number</h3></b-card-text>
               <b-card-text>This program converts binary number to equivalent decimal number.</b-card-text> 
               <b-card-text><center><h5>Example: Program to convert binary to decimal</h5></center></b-card-text>
              <b-card-text>{{ text7a }}</b-card-text>
              <b-card-text>1. <b>User defined function in C</b></b-card-text>
              <b-card-text>2. <b>C Programming while loop</b></b-card-text>
            <b-img center src="/a7.png" width="746px" height="651px" alt="center"  ></b-img>

        </b-card-body>
        </b-collapse>

         <b-button v-b-toggle.according-7b  class="m-1" variant="dark">2. C Program to convert Decimal to Binary </b-button>
        <b-collapse id="according-7b" >
          
         <b-card-body>
              <b-card-text><h3>C Program to Convert Decimal Number to Binary Number</h3></b-card-text>
               <b-card-text>This program converts a decimal number to an equivalent binary number.</b-card-text> 
               <b-card-text><center><h5>Example: Program to convert Decimal to Binary</h5></center></b-card-text>
              <b-card-text>{{ text7b }}</b-card-text>
              <b-card-text>1. <b>C – Functions</b></b-card-text>
              <b-card-text>2. <b>C – while loop</b></b-card-text>
              <b-img center src="/b7.png" width="748px" height="689px" alt="center"  ></b-img>
              
        </b-card-body>
        </b-collapse>

         <b-button v-b-toggle.according-7c  class="m-1" variant="dark">3. C Program to convert Decimal to Octal </b-button>
        <b-collapse id="according-7c" >
          
         <b-card-body>
              <b-card-text><h3>C Program to Convert Decimal to Octal Number</h3></b-card-text>
               <b-card-text>This program converts the input decimal number to an octal number.</b-card-text> 
               <b-card-text><center><h5>Example: Program to convert decimal to octal</h5></center></b-card-text>
              <b-card-text>{{ text7c }}</b-card-text>
              <b-card-text>1. <b>C Programming User defined functions</b></b-card-text>
              <b-card-text>2. <b>while loop in C programming</b></b-card-text>
              <b-img center src="/c7.png" width="747px" height="752px" alt="center"  ></b-img>
        </b-card-body>
        </b-collapse>

         <b-button v-b-toggle.according-7d  class="m-1" variant="dark">4. C Program to convert Octal to Decimal </b-button>
        <b-collapse id="according-7d" >
          
         <b-card-body>
              <b-card-text><h3>C Program to Convert Octal Number to Decimal Number</h3></b-card-text>
               <b-card-text>This program converts an octal number to an equivalent decimal number.</b-card-text> 
               <b-card-text><center><h5>Example: Program to Convert Octal to Decimal</h5></center></b-card-text>
               <b-card-text>{{ text7d }}</b-card-text>
               <b-card-text>1. <b>C – User defined functions</b></b-card-text>
               <b-card-text>2. <b>while loop in C</b></b-card-text>
              <b-img center src="/d7.png" width="746px" height="753px" alt="center"  ></b-img>
        </b-card-body>
        </b-collapse>

         <b-button v-b-toggle.according-7e  class="m-1" variant="dark">5. C Program to convert Binary to Octal </b-button>
        <b-collapse id="according-7e" >
          
         <b-card-body>
              <b-card-text><h3>C Program to Convert Binary to Octal Number System</h3></b-card-text>
               <b-card-text>This C Program converts a binary number to an equivalent octal number.</b-card-text> 
               <b-card-text><center><h5>Example: Program to convert Binary to Octal</h5></center></b-card-text>
                <b-card-text>{{ text7e }}</b-card-text>
                <b-card-text>1. <b>C – while loop</b></b-card-text>
               <b-card-text>2. <b>C – Functions</b></b-card-text>
              <b-img center src="/e7.png" width="748px" height="965px" alt="center"  ></b-img>
              <b-img center src="/ed7.png" width="746px" height="164px" alt="center"  ></b-img>
        </b-card-body>
        </b-collapse>

         <b-button v-b-toggle.according-7f  class="m-1" variant="dark">6. C Program to convert Octal to Binary </b-button>
        <b-collapse id="according-7f" >
          
         <b-card-body>
              <b-card-text><h3>C Program to Convert Octal Number to Binary Number</h3></b-card-text>
               <b-card-text>This program converts an octal number to a binary number using a user defined function.</b-card-text> 
               <b-card-text><center><h5>Example: Program to convert octal to binary</h5></center></b-card-text>
                <b-card-text>{{ text7f }}</b-card-text>
                <b-card-text>1. <b>C Programming while loop</b></b-card-text>
               <b-card-text>2. <b>C Programming functions</b></b-card-text>
              <b-img center src="/f7.png" width="747px" height="971px" alt="center"  ></b-img>
              <b-img center src="/ff7.png" width="745px" height="114px" alt="center"  ></b-img>
        </b-card-body>
        </b-collapse>

        </b-list-group>
      </b-collapse>
    </b-card>

<!--CHPATER 8-->
      <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-8 variant="info">PROGRAMS TO FIND OUT AREAS OF GEOMETRIC FIGURES</b-button>
      </b-card-header>
      <b-collapse id="accordion-8" accordion="my-accordion" role="tabpanel">

           <b-list-group>
        <b-button v-b-toggle.according-8a  class="m-1" variant="dark">1. C program to find area and circumference of circle </b-button>
        <b-collapse id="according-8a" >
          
         <b-card-body>
              <b-card-text><h3>C Program to calculate Area and Circumference of Circle</h3></b-card-text>
               <b-card-text>Here we are writing a simple C program that calculates the area and circumference of circle based on the radius value provided by user.</b-card-text> 
               <b-card-text><i>Formula:</i></b-card-text>
               <b-card-text>Area = 3.14 * radius * radius</b-card-text>
               <b-card-text>Circumference = 2 * 3.14 * radius</b-card-text>
               <b-card-text><center><h5>Program to calculate Area and Circumference based on user input</h5></center></b-card-text>
                <b-card-text>{{ text8a }}</b-card-text>
              <b-img center src="/a8.png" width="747px" height="504px" alt="center"  ></b-img>
              <b-img center src="/aa8.png" width="748px" height="162px" alt="center"  ></b-img>
        </b-card-body>
        </b-collapse>

        <b-button v-b-toggle.according-8b  class="m-1" variant="dark">2. C program to find area of equilateral triangle </b-button>
        <b-collapse id="according-8b" >
          
         <b-card-body>
              <b-card-text><h3>C Program to calculate Area of Equilatral triangle</h3></b-card-text>
               <b-card-text>An equilateral triangle has equal sides(all three sides are equal). In this tutorial, we have shared a C program,
                             which takes triangle side as input and calculates & displays the area as output.</b-card-text> 
               <b-card-text><center><h5>Program to calculate Area</h5></center></b-card-text>
                <b-card-text>{{ text8b }}</b-card-text>
                <b-card-text><b>Formula used in the program:</b></b-card-text>
               <b-card-text>Area = sqrt(3)/4 * side * side</b-card-text>
               <b-card-text>Here sqrt refers the “square root”, this is a predefined function of “math.h” header file.
                             In order to use this function, we have included the “math.h” header file in the program.</b-card-text>
              <b-img center src="/b8.png" width="747px" height="420px" alt="center"  ></b-img>
              <b-img center src="/bb8.png" width="747px" height="56px" alt="center"  ></b-img>
        </b-card-body>
        </b-collapse>

        </b-list-group>
        </b-collapse>
        </b-card>
        

    </div>
  </div>
</template>

<script>
// @ is an alias to /src


export default {
  name: 'projects',
  components: {  
  },
  
   data() {
      return {

         text1: `
            Here we will write two C programs to display Hello World on the screen. In the first program we are displaying the message using printf function and in the second program we are 
            calling a user defined function and that function displays the Hello World message on the screen.   
        `,
        text111: `
             – This statement tells compiler to include this stdio.h file in the program. 
            This is a standard input output file that contains the definitions of common input output functions such as scanf() and printf(). In the above program we are using printf() function.  
        `,
        text112: `
            – Here main() is the function name and int is the return type of this function. Every C program must have this function because the execution of program begins with the main() function. 
           The 0 return value of this function represents successful execution of program while the return value 1 represents the unsuccessful execution of program. This is the reason we have return 0; statement at the end of this main function.  
        `,
        text113:`
              Lets see the same program using user defined function. In this program we have created a function hello() that prints the message on the screen. We are calling this function in the main() function.
               To understand user defined functions, read this guide: 
        `,
        text114:`
              The program will prompt user to input three integer numbers and based on the input, it would compare and display the greatest number as output. 
              In this program num1, num2 & num3 are three int variables that represents number1, number2 and number3 consecutively.
        `,
        text115:`
              In this program, we are using the sizeof() operator to find the size of data types.
               When the sizeof is used with the primitive data types such as int, float, double and char then it returns the amount of the memory allocated to them.
        `,
        text116:`
              This program takes the character value(entered by user) as input and checks whether that character is a vowel or consonant using if-else statement. 
              Since a user is allowed to enter an alphabet in lowercase and uppercase, 
              the program checks for both uppercase and lowercase vowels and consonants. To understand this program, you should be familiar with the following C Programming concepts:
        `,
         text2:`
            In the following program we are checking whether the input integer number is positive or negative. If the input number is greater than zero then its positive else it is a negative number. 
            If the number is zero then it is neither positive nor negative. Same logic we have followed in the below C program.
         `,
         text3: `
            In this tutorial, we have shared a program that compares three input integer numbers and returns the greatest number as output. 
            To do this comparison, we are using a simple if-elseif-else block.   
        `,
         text4: `
            This Program prompts user for entering any integer number, finds the factorial of input number and displays the output on screen. 
            We will use a recursive user defined function to perform the task. Here we have a function find_factorial that calls itself in a recursive manner to find out the factorial of input number. 
            We have involved the user interaction in the below program, however if you do not want that part then you can simply assign an integer value to variable num and ignore the scanf statement. 
            In short you can tweak it in any way you want, the logic would be the same for each case.
        `
          ,
         text5: `
            Upon execution of below program, the user would be asked to provide the from & to range and then the program would display all the prime numbers in sequential manner for the provided range. 
            Using this program you can find out the prime numbers between 1 to 100, 100 to 999 etc. You just need to input the range, for e.g. 
            if you want the prime numbers from 100 to 999 then enter numbers 100 and 999 when program prompts for input.
        `,
         text6:`
              A number is called as Armstrong number if sum of cubes of digits of number is equal to the number itself. In the below C program, we are checking whether the input number is Armstrong or not.
         `,
         text7:`
              If a number remains same, even if we reverse its digits then the number is known as palindrome number. For example 12321 is a palindrome number because it remains same if we reverse its digits. 
              In this article we have shared two C programs to check if the input number is palindrome or not. 1) using while loop 2) using recursion.
         `,
         text8:`
              In the last tutorial we have learnt how to check if a number is palindrome or not. In this tutorial we will learn how to find palindrome numbers in a given range.
         `,
         text9:`
              If a number is exactly divisible by 2 then its an even number else it is an odd number. In this article we have shared two ways(Two C programs) to check whether the input number is even or odd. 
              1) Using Modulus operator(%) 2) Using Bitwise operator.
         `,
         text10:`
              ASCII value represents the English characters as numbers, each letter is assigned a number from 0 to 127. For example, the ASCII value for uppercase Q is 81.
         `,
         text11:`
              Program to find the sum of first n natural numbers. We will see two C programs to calculate the sum of natural numbers. 
              In the first C program we are using for loop for find the sum and in the second program we are doing the same using while loop.
              To understand these programs, you should be familiar with the following C Programming Concepts:
         `,
         //CHAPTER2
         text1a:`
              In the following C program, user would be asked to enter a String (it can be in complete uppercase or partial uppercase) and then the program would convert it into a complete(all characters in lower case) lower case string. The logic we have used in the following program is: All the upper case characters (A-Z) have ASCII value ranging from 65 to 90 and their corresponding lower case characters (a-z) have ASCII value 32 greater than them. 
              For example ‘A‘ has a ASCII value 65 and ‘a‘ has a ASCII value 97 (65+32). Same applies for other characters.
         `,
         text1b:`
            In the following program, user would be asked to enter a lower case String and the program would convert it into a Upper case String. 
            Logic followed in the program: All lower case characters (a to z) have ASCII values ranging from 97 to 122 and their corresponding upper case characters (A to Z) have ASCII values 32 less than them. 
            For example ‘a’ has a ASCII value 97 and ‘A’ has a ASCII value 65 (97-32). Same applies for other alphabets. Based on this logic we have written the below C program for conversion.
         `,
         text1c:`
              In the following program user would be asked to enter a set of Strings and the program would sort and display them in ascending alphabetical order.
         `,
         text1d:`
             In the following C program we are counting the number of characters in a given String to find out and display its length on console. Upon execution of this program, 
             the user would be asked to enter a string, then the program would count the chars and would display the length of input string as output.
         `,
         text1e:`
                In the following program user would be asked to enter two strings and then the program would concatenate them. For concatenation we have not used the standard library function strcat(), 
                instead we have written a logic to append the second string at the end of first string.
         `,
         text1f:`
                Here we have defined a function reverse_string, this function calls itself recursively.
         `,
        //Chapter 3

          text3a:`
              The following program prompts user for the n numbers, once the user is done entering those numbers, this program sorts and displays them in ascending order. 
              Here we have created a user defined function sort_numbers_ascending() for the sorting purpose.
          `,
          text3b:`
              In the following program we are initializing a variable (max_element) with the first element of given array and then we are comparing that variable with all the other elements of the array using loop,
               whenever we are getting an element with the value greater than max_element, 
              we are moving that element to max_element and moving further with the same approach to get the largest element in the max_element variable.
          `,
           text3c:`
                 This program calls the user defined function sum_array_elements() and the function calls itself recursively. 
                 Here we have hardcoded the array elements but if you want user to input the values, you can use a for loop and scanf function, 
                 same way as I did in the next section (Method 2: Using pointers) of this post.
          `,
             text3d:`
                The formula that we are using to find the number of elements is common for all types of array. In this example, we have an array of double data type, 
                however you can use the same logic for arrays of other data types like: int, float, long, char etc.
          `,
        

         //CHapter 4

         text4a:`
                Bubble sort is also known as sinking sort. This algorithm compares each pair of adjacent items and swaps them if they are in the wrong order, 
                and this same process goes on until no swaps are needed. In the following program we are implementing bubble sort in C language.
                 In this program user would be asked to enter the number of elements along with the element 
                values and then the program would sort them in ascending order by using bubble sorting algorithm logic.
         `,
         text4b:`
              Insertion sort algorithm picks elements one by one and places it to the right position where it belongs in the sorted list of elements. 
              In the following C program we have implemented the same logic.
         `,
         text4c:`
         In Selection sort, the smallest element is exchanged with the first element of the unsorted list of elements (the exchanged element takes 
         the place where smallest element is initially placed). Then the second smallest element is exchanged with the second element of 
         the unsorted list of elements and so on until all the elements are sorted. In the following C program we have implemented the same logic.
         `,
         text4d:`
                Quicksort is a divide and conquer algorithm. The steps are: 1) Pick an element from the array, this element is called as pivot element.
                 2) Divide the unsorted array of elements in two arrays with values less than the pivot come in the first sub array, while all elements 
                 with values greater than the pivot come in the second sub-array (equal values can go either way). This step is called the partition operation. 
                 3) Recursively repeat the step 2(until the sub-arrays are sorted) to the sub-array of elements with smaller values and separately to the sub-array of elements with greater values. 
                The same logic we have implemented in the following C program.
         `,
         //CHapter 5
         text5a:`
              In the following program we have three integers num1, num2 & num3. We have assigned the addresses of these three numbers to three pointers p1, p2 & p3 respectively. 
              Later we performed the comparison on the values stored at the addresses pointed by pointers using if else statement.  
         `,
         text5b:`
              In the following program we have declared a char array str to hold the input string which we store in the array using fgets() function. 
              We have assigned the base address of array (address of first element) to the pointer p. 
              We cycled through all the characters of the input string by using pointer p inside while loop and incrementing the pointer value on every iteration. 
         `,
         text5c:`
               In the following program we have declared a char array to hold the input string and we have declared a char pointer. We have assigned the array base address (address of the first element of the array) 
               to the pointer and then we have displayed the every element of the char array by incrementing the pointer in the while loop.
         `,
         text5d:`
              In the following program we have declared a character variable ch and character pointer pCh, later we initialized the pointer variable pCh with the address value of char ch.
              The example also shows how to access the value and address of ch using the pointer variable pCh 
         `,
        
         //chapter 6

        text6a:`
              In the following program we are calculating the value of nPr based on the given values of n and r. nPr can also be represented as P(n,r). 
              The formula of P(n, r) is: n! / (n – r)!. For example P(6, 2) = 6! / (6-2)! => 720 / 24 = 30. We have implemented the same logic in the below C program.
          `,
          text6b:`
              The formula is: C(n,r) = n! / ( r!(n – r)! ). For 0 <= r <= n. Here ! represents factorial. For example: C(6, 2) = 6! / (2! * (6-2)!) => 720/(2 * 24) => 15
          `,
          text6c:`
              In this program, user is asked to enter two float numbers and the program stores the entered values into the variable num1 and num2. 
              The program then multiplies entered numbers and display the product as output.
          `,
          text6d:`
              In this program we are creating a user defined function product() that multiplies the numbers that we are passing to it during function call. 
              This function returns the product of these numbers. To understand this program you should have the knowledge of following C Programming concepts:
          `,
          text6e:`
              In this program, we are doing the same thing that we have done in the above program, but here we are using functions in order to find the quotient and remainder. 
              We have created two user defined functions for the calculation. To understand this program, you should have the basic understanding of following C programming topics:
          `,
          //chapter 7

          text7a:`
              In this program, we have created a user defined function binaryToDecimal() for binary to decimal conversion. This programs takes the binary number (entered by user) 
              as input and converts it into a decimal number using function. To understand this program, you should be familiar with the following C programming concepts:
          `,
          text7b:`
              In this program, we have created a user defined function decimalToBinary() for decimal to binary conversion. The programs takes decimal number (entered by user) as input and converts it into a binary number using the function decimalToBinary().
               To understand this program, you should have the basic idea of following C programming topics:
          `,
           text7c:`
              In this program, we have created a user defined function decimalToOctal() for decimal to octal conversion. The program takes the decimal number(entered by user) as input and converts it into an octal number using the function. 
              To understand this program, you should be familiar with the following C programming concepts:
          `,
           text7d:`
              In this program, we have created a user defined function for octal to decimal conversion. The program takes the octal number (entered by user) as input and converts it into a decimal number using function. 
              To understand this program, you should have the knowledge of following C programming topics:
          `,
           text7e:`
              In this program, user is asked to enter the binary number and the program then converts that binary number to the octal number by calling a user defined function. 
              To understand this program, you should be familiar with the following C programming concepts:
          `,
           text7f:`
              In this program we have created a user defined function octalToBinary(). This function converts the octal number (entered by user) to decimal number first and then converts that decimal number to binary number. 
              To understand the working of this program, you should have the basic knowledge of following C Programming topics:
          `,

          //chapter 8
           text8a:`
              To calculate area and circumference we must know the radius of circle. The program will prompt user to enter the radius and based on the input it would calculate the values. 
              To make it simpler we have taken standard PI value as 3.14 (constant) in the program. Other details are mentioned as comments in the below example program.
          `,
          text8b:`
              In order to calculate the area of equilateral triangle, we must know the side of the triangle. 
              This program would prompt user to enter the side of the equilateral triangle and based on the value, it would calculate the area.
          `,

      }
    }
  
}
</script>

<style >
 
</style>
