<template>
  <div class="projects">
    <div role="tablist bg-dark">
    <h1 class="subheading grey--text">CHAPTER QUIZZES</h1>
     <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab" >
        <b-button block href="" v-b-toggle.accordion-1 variant="info" >CHAPTER QUIZ 1</b-button>
      </b-card-header>
      <b-collapse id="accordion-1" accordion="my-accordion" role="tabpanel">

        
        </b-collapse>
        </b-card>
        

    <!--CHAPTER2-->
    <b-card no-body  class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-2 variant="info">CHAPTER QUIZ 2</b-button>
      </b-card-header>
      <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">

       


        </b-collapse>
        </b-card>
  <!--CHAPTER 3-->
    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-3 variant="info">CHAPTER QUIZ 3</b-button>
      </b-card-header>
      <b-collapse id="accordion-3" accordion="my-accordion" role="tabpanel">

        
    </b-collapse>
    </b-card>
<!--CHPATER 4-->
      <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-4 variant="info">CHAPTER QUIZ 4</b-button>
      </b-card-header>
      <b-collapse id="accordion-4" accordion="my-accordion" role="tabpanel">
        
         
    </b-collapse>
    </b-card>
<!--CHPATER 5-->
      <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-5 variant="info">CHAPTER QUIZ 5</b-button>
      </b-card-header>
      <b-collapse id="accordion-5" accordion="my-accordion" role="tabpanel">
       
       
    </b-collapse>
    </b-card>
<!--CHPATER 6-->
    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-6 variant="info">CHAPTER QUIZ 6</b-button>
      </b-card-header>
      <b-collapse id="accordion-6" accordion="my-accordion" role="tabpanel">
       
       
          

    
    </b-collapse>
    </b-card>
<!--CHPATER 7-->
    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-7 variant="info">CHAPTER QUIZ 7</b-button>
      </b-card-header>
      <b-collapse id="accordion-7" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text>{{ text }}</b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>
<!--CHPATER 8-->
      <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-8 variant="info">CHAPTER QUIZ 8</b-button>
      </b-card-header>
      <b-collapse id="accordion-8" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text>{{ text }}</b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>
<!--CHPATER 9-->
      <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-9 variant="info">CHAPTER QUIZ 9</b-button>
      </b-card-header>
      <b-collapse id="accordion-9" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text>{{ text }}</b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>
<!--CHPATER 10-->
      <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-10 variant="info">CHAPTER QUIZ 10</b-button>
      </b-card-header>
      <b-collapse id="accordion-10" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text>{{ text }}</b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>
<!--CHPATER 11-->
      <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-11 variant="info">CHAPTER QUIZ 11</b-button>
      </b-card-header>
      <b-collapse id="accordion-11" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text>{{ text }}</b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>
<!--CHPATER 12-->
      <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-12 variant="info">CHAPTER QUIZ 12</b-button>
      </b-card-header>
      <b-collapse id="accordion-12" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text>{{ text }}</b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>


       
      
    </div>
  </div>
</template>

<script>
// @ is an alias to /src


export default {
  name: 'projects',
  components: {  
  },
  
   data() {
      return {

         text1: `
            “Use of symbols and phrases to designate the logic of how a problem is solved” (SCHN95).   
        `,
         text2:`
          	“A common method for defining the logical steps of flow within a program by using a series of symbols to identify the basic Input, 
             Process and Output (IPO’s) function within a program” (TRAN96).
         `,
         text3: `
            “A two-dimensional representation of an algorithm; the predefined graphic symbols of a flowchart 
             are used to indicate the various operations and the flow of control” (SWAZ89).   
        `,
         text4: `
          	“A diagram representing the logical sequence in which a combination of steps or operations is to be performed. 
              It is a blueprint of the program” (LAPU86). 
        `
          ,
         text5: `
            “Algorithm is a finite set of instructions that specify a sequence of operations to be carried out 
            in order to solve a specific problem or class of problems” (SWAZ89).
        `,
         text6:`
              1.	Sequence- process is executed from one to another in a straightforward manner.
         `,
         //CHAPTER2
         text1a:`
              B was developed in the year 1970 by Ken Thompson. The said language is a successor of Basic Command Programming Language (BCPL), which was developed by Martin Richards. 
                To augment B’s power, Dennis Ritchie invented and first implemented the C Programming Language in Bell Laboratory. 
                C was originally developed under UNIX environment running in DEC PDP-11. It stands for Combined Programming Language and sometimes called System Programming Language (SPL). 
                It did not become immediately popular after its creation. It took almost six years when many people read and learned the usefulness of
                 the language after Brian Kernighan and Dennis Ritchie created a famous book called “THE C PROGRAMMING LANGUAGE” (SARR97).
         `,
         text1b:`
             X3J11 committee was created in the year 1983 under the American National Standard Institute (ANSI) to provide machine definition of the language and was then approved in 1989. 
                “ANSI cooperated with the International Standard Organization (ISO) to refer to as ANSI/ISO 9899:1990” (SARR97)
         `,
         text1c:`
              “C is often called a middle level language. C as a middle-level language means that it combines elements of high-level 
                language with the functionalism of assembly language. It allows manipulation of bits, bytes, and addresses the basic element with which the computer functions” (SCHI92).
         `,
         text1d:`
              Input commands, and special words often referred to as reserved words allow the use of lower case only. 
             They should be written in lower case since C is sensitive to those words. They have only 32 keywords (27 from Kernighan and Ritchie standard and 5 added by the ANSI Standardization Committee (SARR97).
         `,
         text1e:`
                C was initially used for system development work, in particular the programs that make up the operating system.
                C is used mainly because it produces codes that run as fast as codes written in assembly language.
         `,
         text1f:`
                •	Operating System
         `,
         text1g:`
                 •	Language Compilers
         `,
         text1h:`
                •	Assemblers
         `,
         text1i:`
                •	Text Editors
         `,
         text1j:`
                •	Print Spoolers
         `,
         text1k:`
                •	Network Devices
         `,
         text1l:`
                •	Modern programs
         `,
         text1m:`
                •	Databases
         `,
         text1n:`
                •	Language Interpreters
         `,
         text1o:`
                •	Utilities
         `,
         text1p:`
               •	A simple core language, such as math functions or files handling provided by a standard set of library routines. 
         `,
         text1q:`
                •	Focus on procedural programming paradigm which facilitates for programming in a structured style.
         `,
         text1r:`
                •	Parameters are always passed by value, never by reference.
         `,
         text1s:`
               •	C encourages the creation of libraries user-defined functions. 
         `,
         text1t:`
               •	C is flexible when it allows unrestricted conversion of data from one type to another,
                  such as conversion of a character to its numeric equivalent.
         `,
         //CHapter 4
         text4a:`
                There are five elementary data types in C: character (char), integer (int), floating point, double floating point and void. 
                “Values of type char are used to hold ASCII characters or any 8-bit quantity. Variables of type int are used to hold integer quantities. 
                Values of type float and double are used to hold real numbers. Real numbers have both an integer and fractional component. 
                The type void has three uses: The first is to declare explicitly a function as returning no value. 
                The second is to declare explicitly a function as having no parameters. The third is to create generic pointers” (SCHI92).
         `,
         text4b:`
               Keywords in C are reserved words that have a special meaning. 
               Reserved words are words “reserved” by the programming language for expressing various statements and constructs, 
               thus, these may not be redefined by the programmer (LIM99).
         `,
         //CHapter 5
         text5a:`
              Identifiers are composed of a sequence of letters, digits, and the special character _ (underscore). 
              Avoid using names that are too short or too long. Limit the identifiers from 8 to 15 characters only (LIM99).  
         `,
         text5b:`
              Variables are identifiers that can store a changeable value. These can be different data types (LIM99). 
         `,
         text5c:`
               Constants are identifiers / variables that can store a value that cannot be changed during program execution (LIM99).
         `,
         text5d:`
              “Operator is a symbol that tells the compiler to perform specific mathematical or logical manipulations.
               There are three classes of operators in C: arithmetic, logical and relational, and bitwise” (SARR97).  
         `,
         text5e:`
               Expression refers to anything that evaluates to a numeric value (LIM99).
         `,
      }
    }
  
}
</script>

<style >
 
</style>
