 <template>
  <div>
    <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <div class="login card-panel dark black-text center">
          <h3>Register</h3>
          <form action="index.html">

             <!--<div class="input-field">
              <i class="material-icons prefix">account_circle</i>
              <input type="text" id="name" v-model="name" required>
              <label class="black-text" for="name">Username</label>
            </div> -->

            <div class="input-field">
              <i class="material-icons prefix">email</i>
              <input type="email" id="email" v-model="email">
              <label class="black-text" for="email">Email Address</label>
            </div>

            <div class="input-field">
              <i class="material-icons prefix">lock</i>
              <input type="password" id="password" v-model="password">
              <label class="black-text" for="password">Password</label>
            </div>

           <!-- <div class="input-field">
              <i class="material-icons prefix">lock</i>
              <input type="password" id="password" v-model="password2">
              <label class="black-text" for="password">Retry Password</label>
            </div> -->

            <button v-on:click="register" class="btn btn-large btn-extended black white-text">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</template> 

